/* CSS Document - Developed by Fabio Rocha (https://fabiorochafg.github.io | fabiorochafg@gmail.com) */

/* Base */
* {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
a, a:link, a:active {
    color: #ffffff;
}
a:hover {
    color: #aaaaaa;
    text-decoration: underline;
}
body {
    background: #111111;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
}
dd {
    font-weight: bold;
    padding: 0 0 2px;
}
dt {
    clear: left;
    float: left;
    margin: 0 5px 0 0;
}
h1 {
    float: left;
    padding: 4% 10%;
}
h2 {
    font-size: 280%;
    padding: 10px 0 30px;
}
h3 {
    font-size: 130%;
}
ul {
    line-height: 1.5em;
}

/* Layout */
#wrapper {
    position: relative;
    width: 100%;
}
.container {
    margin: 0 auto;
    overflow: hidden;
    padding: 4% 10%;
    width: 80%;
}

/* Header */
#header {
    background: url("../images/bg.jpg") no-repeat center 0 / 100% auto #111;
    position: relative;
}
#header > div {
    background: rgba(0, 0, 0, 0.8);
}
#header h1 a {
    background: url(../images/logo.png) no-repeat -6px 0;
    display: block;
    height: 160px;
    text-indent: -9000px;
    width: 160px;
}
#header h1 a:hover {
    opacity: 0.5;
}

/* Menu */
#menu {
    background: #000000;
    border-top: 1px solid #333333;
    bottom: 0;
    padding: 0 10%;
    position: fixed;
    z-index: 1;
}
#menu li {
    list-style: none;
}
#menu li a {
    color: #fff;
    display: block;
    float: left;
    font-size: 150%;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0 40px 0 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
#menu li a:hover {
    color: #999999;
}

/* Repositories */
#repositories {
    background: #ffffff;
    color: #666666;
    padding: 4% 10% 6%;
}
#repositories a {
    color: #666666;
    display: block;
    line-height: 16px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}
#repositories a:hover {
    color: #111111;
}
#repositories li {
    float: left;
    height: 200px;
    list-style: none;
    margin: 0 0 5%;
    overflow: auto;
    position: relative;
    width: 21.25%;
}
#repositories li.middle {
    margin: 0 5% 5%;
}
#repositories li.right {
    margin: 0 5% 5% 0;
}  
#repositories li li {
    background: #eeeeee;
    font-size: 90%;
    height: auto;
    margin: 0;
    text-align: center;
    width: 33.33%;
}
#repositories li li:hover {
    background: #cccccc;
}
#repositories li li strong {
    clear: both;
    display: block;
}
#repositories li ul {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#repositories p {
    line-height: 1.3em;
    padding: 5px 0 10px;
    text-align: justify;
}

/* Contact */
#contact {
    background: #666666;
    color: #dddddd;
    padding: 4% 10% 5%;
}
#contact a {
    color: #aaaaaa;
    text-decoration: none;
}
#contact a:hover {
    color: #dddddd;
}
#contact dl {
    list-style: none;
    margin: 15px 0 0;
}
#contact dt {
    background: #000000;
    color: #eeeeee;
    font-size: 110%;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 5px 15px;
}
#contact dd {
    background: #555555;
    display: table;
    font-size: 130%;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 5px 15px;
}
#contact dd:hover {
    background: #444;
}
#contact p {
    font-size: 160%;
    padding: 30px 0 15px;
}

/* Media-queries */
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:landscape) {

}