/* CSS Document - Developed by Fabio Rocha (https://fabiorochafg.github.io | fabiorochafg@gmail.com) */

/* Base */
* {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
a, a:link, a:active {
    color: #ffffff;
}
a:hover {
    color: #aaaaaa;
    text-decoration: underline;
}
body {
    background: #111111;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
}
dd {
    font-weight: bold;
    padding: 0 0 2px;
}
dt {
    clear: left;
    float: left;
    margin: 0 5px 0 0;
}
h1 {
    float: left;
    padding: 4% 10%;
}
h1 a {
    background: url(../images/logo.png) no-repeat -6px 0;
    display: block;
    height: 160px;
    text-indent: -9000px;
    width: 160px;
}
h1 a:hover {
    opacity: 0.5;
}
h2 {
    font-size: 280%;
    padding: 10px 0 40px;
}
h3 {
    font-size: 130%;
}
ul {
    line-height: 1.5em;
}

/* Layout */
#wrapper {
    position: relative;
    width: 100%;
}
.container {
    margin: 0 auto;
    overflow: hidden;
    padding: 4% 10%;
    width: 80%;
}

/* Header */
#header {
    background: url("../images/bg.jpg") no-repeat center 0 #111;
    background: url("../images/bg.jpg") no-repeat center 0 / 100% auto #111;
    position: relative;
}
#header > div {
    background: rgba(0, 0, 0, 0.8);
}
#header > div div {
    float: right;
    margin: 18% 10% 0 0;
    width: 50%;
}
#header a {
    color: #aaaaaa;
    text-decoration: none;
}
#header a:hover {
    color: #dddddd;
}
#header dl {
    list-style: none;
    margin: 15px 0 0;
}
#header dt {
    background: #000000;
    color: #eeeeee;
    font-size: 110%;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 5px 15px;
}
#header dd {
    background: #555555;
    display: table;
    font-size: 130%;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 5px 15px;
}
#header dd:hover {
    background: #444;
}
#header p {
    color: #CCCCCC;
    font-size: 160%;
    padding: 30px 0 15px;
}
#header p a {
    text-decoration: underline;
}

/* Menu */
#menu {
    background: #000000;
    border-top: 1px solid #333333;
    bottom: 0;
    padding: 0 10%;
    position: fixed;
    z-index: 1;
}
#menu li {
    list-style: none;
}
#menu li a {
    color: #fff;
    display: block;
    float: left;
    font-size: 150%;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0 40px 0 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
#menu li a:hover {
    color: #999999;
}

/* Gists */
#gists {
    background: #eeeeee;
    color: #666666;
    padding: 4% 10% 9%;
}
#gists a {
    color: #777777;
}
#gists .gists {
    margin: 0 -1%;
    overflow: hidden;
}
#gists .gists li {
    background: #bbbbbb;
    float: left;
    list-style: none;
    margin: 1%;
    width: 98%;
}
#gists .gists li:hover {
    background: #ddd;
}
#gists .gists li > a {
    color: #333333;
    display: block;
    font-size: 115%;
    padding: 1%;
    text-decoration: none;
    width: 98%;
}
#gists .gists .box6 {
    width: 48%;
}
#gists .gists .box6 a {
    padding: 2%;
    width: 96%;
}


/* Portfolio */
#portfolio {
    background: #666666;
    color: #dddddd;
    padding: 4% 10%;
}
#portfolio a {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    box-shadow: 0px 0px 5px #222222;
    display: block;
    height: 160px;
    margin: 5px 0 0;
    opacity: 0.7;
    position: relative;
}
#portfolio a:hover {
    opacity: 1;
}
#portfolio a:hover p {
    background: rgba(255, 255, 255, 0.9);
    color: #111111;
    opacity: 1;
}
#portfolio li {
    float: left;
    list-style: none;
    margin: 0 0 5%;
    position: relative;
    width: 30%;
}
#portfolio li.middle {
    margin: 0 5% 5%;
}
#portfolio p {
    color: #ffffff;
    font-size: 110%;
    height: 160px;
    line-height: 160px; 
    opacity: 0;
    padding: 0 10%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 80%;
    z-index: 2;
}
#portfolio .portfolio-asifrn a {
    background-image: url(../images/portfolio-asifrn.png);
}
#portfolio .portfolio-esmarn a {
    background-image: url(../images/portfolio-esmarn.png);
}
#portfolio .portfolio-flusser a {
    background-image: url(../images/portfolio-flusser.png);
}
#portfolio .portfolio-foco-tgma a {
    background-image: url(../images/portfolio-foco-tgma.png);
}
#portfolio .portfolio-hatha-contabilidade a {
    background-image: url(../images/portfolio-hatha-contabilidade.png);
}
#portfolio .portfolio-ifb a {
    background-image: url(../images/portfolio-ifb.png);
}
#portfolio .portfolio-lader a {
    background-image: url(../images/portfolio-lader.png);
}
#portfolio .portfolio-niklason a {
    background-image: url(../images/portfolio-niklason.png);
}
#portfolio .portfolio-soluti a {
    background-image: url(../images/portfolio-soluti.png);
}

/* Repositories */
#repositories {
    background: #aaaaaa;
    color: #444444;
    padding: 4% 10%;
}
#repositories div {
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 45px auto;
    border-right: 1px solid #444444;
    float: left;
    overflow: hidden;
    padding: 0 2% 0 0;
    width: 60%;
}
#repositories h3 {
    float: left;
    padding: 0 0 0 60px;
}
#repositories p {
    color: #eeeeee;
    float: left;
    line-height: 20px;
    padding: 0 0 5px 60px;
    text-align: justify;
}
#repositories > ul {
    width: 100%;
}
#repositories > ul > li {
    float: left;
    list-style: none;
    margin: 0 0 5%;
    position: relative;
    width: 100%;
}
#repositories .boxes {
    float: right;
    width: 37%;
}
#repositories .boxes li {
    float: left;
    font-size: 90%;
    height: auto;
    list-style: none;
    margin: 0;
    text-align: center;
    width: 50%;
}
#repositories .boxes li:hover {
    background: #cccccc;
}
#repositories .boxes li a {
    color: #444444;
    display: block;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
}
#repositories .boxes li a:hover {
    color: #111111;
}
#repositories .boxes li strong {
    /*clear: both;
    display: block;*/
}
#repositories .preview-bluray-dvd-cd-book-collection div {
    background-image: url(../images/preview-bluray-dvd-cd-book-collection.png);
}
#repositories .preview-html-blank-template div {
    background-image: url(../images/preview-html-blank-template.png);
}
#repositories .preview-joomla-3-blank-template div {
    background-image: url(../images/preview-joomla-3-blank-template.png);
}

/* Media-queries */
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:landscape) {
    body {
        font-size: 220%;
    }
    #header {
        background: #555555;
    }
    #header > div div {
        margin: 4% 10% 0;
        width: 80%;
    }
    #header dt,
    #header dd {
        font-size: 105%;
    }
    #menu li a {
        font-size: 120%;
    }
    #repositories {
        padding: 4% 10% 12%;
    }
    .boxes > li {
        width: 100%;
    }
    .boxes > li.middle {
        margin: 0 0 5%;
    }
}
@media screen and (max-width: 1024px) {
    .boxes > li {
        width: 47.5%;
    }
    .boxes > li:nth-child(2n+1) {
        float: right;
    }
    .boxes > li.middle {
        margin: 0 0 5%;
    }
}
@media screen and (max-width: 800px) {
    #header {
        background: #555555;
    }
    #header > div div {
        margin: 4% 10% 0;
        width: 80%;
    }
    #header dt,
    #header dd {
        font-size: 105%;
    }
    #menu li a {
        font-size: 120%;
    }
    #repositories {
        padding: 4% 10% 12%;
    }
}
@media screen and (max-width: 600px) {
    .boxes > li {
        width: 100%;
    }
    .boxes > li.middle {
        margin: 0 0 5%;
    }
}