/* CSS Document - Developed by Fabio Rocha (https://fabiorochafg.github.io | fabiorochafg@gmail.com) */

/* Base */
* {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
a, a:link, a:active {
    color: #ffffff;
}
a:hover {
    color: #aaaaaa;
    text-decoration: underline;
}
body {
    background: #111111;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
}
code {
    clear: left;
    display: block;
    font-size: 95%;
    padding: 0 0 0 60px;
}
dd {
    font-weight: bold;
    padding: 0 0 2px;
}
dt {
    clear: left;
    float: left;
    margin: 0 5px 0 0;
}
h1 {
    float: left;
    padding: 4% 10%;
}
h1 a {
    background: url(../images/logo.png) no-repeat -6px 0;
    display: block;
    height: 160px;
    text-indent: -9000px;
    width: 160px;
}
h1 a:hover {
    opacity: 0.5;
}
h2 {
    font-size: 300%;
    padding: 10px 0 0;
}
h3 {
    font-size: 130%;
    padding: 0 0 20px;
}
ul {
    line-height: 1.5em;
}

/* Layout */
#wrapper {
    position: relative;
    width: 100%;
}
.container {
    margin: 0 auto;
    overflow: hidden;
    padding: 4% 10% 6%;
    width: 80%;
}
.box {
    margin: 0 -2%;
    overflow: hidden;
}
.box > div {
    float: left;
    margin: 2%;
    width: 96%;
}
.box .box12 {
    width: 96%;
}
.box .box6 {
    width: 46%;
}
.box .box4 {
    width: 29.3333%;
}
.box .box3 {
    width: 21%;
}
.box .box2 {
    width: 12.6666%;
}
.box .box1 {
    width: 4.3333%;
}

/* Header */
#header {
    background-color: #111111;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% auto;
    /*position: relative;*/
}
#header > div {
    background: rgba(0, 0, 0, 0.7);
}
#header > div div {
    float: right;
    padding: 20% 10% 0 0;
    width: 45%;
}
#header p {    
    color: #eeeeee;
    font-size: 220%;
    line-height: 42px;
    text-align: right;
    text-shadow: 1px 1px 1px #000000;
}
#header p:nth-child(2) {
    font-size: 140%;
    line-height: 26px;
    padding: 5px 0 0;
}

/* Menu */
#menu {
    background: #000000;
    bottom: 0;
    height: 50px;
    padding: 0 10%;
    position: fixed;
    z-index: 1;
}
    #menu.menufixo {
        top: 0 !important;
    }
#menu li {
    list-style: none;
}
#menu li a {
    color: #fff;
    display: block;
    float: left;
    font-size: 150%;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding: 0 40px 0 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}
#menu li a:hover,
#menu li a.active {
    color: #999999;
}
#menu li.language {
    float: right;
}
#menu li.language a {
    color: #aaaaaa;
    font-size: 85%;
    font-weight: normal;
    padding: 0;
}

/* About */
#about {
    background: #222222;
    background: rgba(34,34,34,1);
    background: -moz-linear-gradient(top, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,34,34,1)), color-stop(100%, rgba(51,51,51,1)));
    background: -webkit-linear-gradient(top, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 100%);
    background: -o-linear-gradient(top, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 100%);
    background: -ms-linear-gradient(top, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 100%);
    background: linear-gradient(to bottom, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 100%);
    color: #bbbbbb;
}
#about > div.left {
    float: left;
    width: 42.5%;
}
#about > div.left li {
    background: #000000;
    color: #eeeeee;
    display: block;
    font-size: 110%;
    height: 30px;
    line-height: 30px;
    list-style: none;
    margin: 0 0 10px;
    padding: 5px 15px;
}
#about > div.left li:hover {
    background: #333333;
}
#about > div.left ul {
    float: left;
}
#about > div.right {
    float: right;
    width: 52.5%;
}
#about > div.right h3 {
    text-align: right;
}
#about > div.right li {
    background: #000;
    float: right;
    font-size: 95%;
    list-style: none;
    margin: 0 0 5px 5px;
    padding: 3px 6px;
}
#about > div.right p {
    float: right;
    font-size: 160%;
    padding: 0 0 5px;
    text-align: right;
}
#about > div.right p:nth-child(2) {
    font-size: 145%;
    width: 90%;
}
#about > div.right p:nth-child(3) {
    font-size: 130%;
    width: 80%;
}
#about > div.right p:nth-child(4) {
    font-size: 115%;
    width: 70%;
}
#about > div.right p:nth-child(5) {
    font-size: 100%;
    width: 60%;
}
#about > div.right p a {
    text-decoration: underline;
}
#about a {
    color: #aaaaaa;
    text-decoration: none;
}
#about a:hover {
    color: #ffffff;
}
#about dl {
    float: left;
    list-style: none;
    width: 100%;
}
#about dt {
    background: #000000;
    color: #eeeeee;
    font-size: 105%;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 5px 15px;
}
#about dd {
    background: #555555;
    float: left;
    font-size: 130%;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 5px 15px;
}
#about dd:hover {
    background: #444;
}
#about h3 {
    color: #aaa;
    display: inline-block;
    margin: 7% 0 0;
    text-shadow: 1px 1px 1px #111111;
    width: 100%;
}
#about > p {
    display: inline-block;
    padding: 9% 0 0;
    text-align: center;
    width: 100%;
}
#about .contact {
    float: left;
    width: auto;
}
#about .contact dd {
    background: none;
    font-size: 115%;
    padding: 5px 0;
    text-shadow: 1px 1px 1px #222222;
}
#about .contact dt {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    display: block;
    height: 40px;
    margin: 0 12px 0 7px;
    padding: 0;
    text-indent: -9000px;
    width: 23px;
}
#about .contact .email {
    background-image: url(../images/contact-email.png);
}
#about .contact .linkedin {
    background-image: url(../images/contact-linkedin.png);
}
#about .contact .telefone {
    background-image: url(../images/contact-telefone.png);
}
#about .percent dd {
    padding: 5px 2%;
    text-align: right;
    text-shadow: 1px 1px 1px #222222;
}
#about .percent dt {
    padding: 5px 1%;
    text-align: center;
    width: 20%;
}
#about .percent10 {
    width: 7.4%;
}
#about .percent20 {
    width: 14.8%;
}
#about .percent30 {
    width: 22.2%;
}
#about .percent40 {
    width: 29.6%;
}
#about .percent50 {
    width: 37%;
}
#about .percent60 {
    width: 44.4%;
}
#about .percent70 {
    width: 51.8%;
}
#about .percent80 {
    width: 59.2%;
}
#about .percent90 {
    width: 66.6%;
}
#about .percent100 {
    width: 74%;
}
#bio-photo {
    background-image: url(../images/bio.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 138px 138px;
    border: 1px solid #000000;
    float: left;
    height: 138px;
    margin: 0 10px 0 0;
    width: 138px;
}
#bio-photo div {
    background: rgba(0, 0, 0, 0.4);
    height: 138px;
}
#bio-photo div:hover {
    background: rgba(0, 0, 0, 0.3);
}
.hint--right:after {
    margin-bottom: -20px !important;
}
.hint:after, [data-hint]:after {
    font-size: 90% !important;
    padding: 14px 10px !important;
}

/* Gists */
#gists {
    background: #eeeeee;
    background: rgba(238,238,238,1);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 100%);
    color: #666666;
    padding: 4% 10% 5%;
}
#gists a {
    color: #777777;
}
#gists .gists {
    margin: 40px -0.5% 0;
    overflow: hidden;
}
#gists .gists li {
    background: #cccccc;
    float: left;
    list-style: none;
    margin: 0.5%;
    width: 99%;
}
#gists .gists li:hover {
    background: #ddd;
}
#gists .gists li > a {
    color: #333333;
    display: block;
    padding: 0.5% 1%;
    text-decoration: none;
    width: 98%;
}
#gists .gists .box6 {
    width: 49%;
}
#gists .gists .box6 a {
    padding: 1% 2%;
    width: 96%;
}

/* Portfolio */
#portfolio {
    background: #666666;
    background: rgba(102,102,102,1);
    background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(119,119,119,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(100%, rgba(119,119,119,1)));
    background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(119,119,119,1) 100%);
    background: -o-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(119,119,119,1) 100%);
    background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(119,119,119,1) 100%);
    background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(119,119,119,1) 100%);
    color: #dddddd;
    padding: 4% 10%;
}
#portfolio .box > div {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    box-shadow: 0px 0px 5px #222222;
    height: 160px;
    opacity: 0.7;
    position: relative;
}
#portfolio .box > div div {
    display: block;
    height: 96px;
    opacity: 0;
    padding: 32px 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 0;
}
#portfolio .box > div div:hover {
    background: rgba(255, 255, 255, 0.9);
    color: #111111;
    opacity: 1;
}
#portfolio .box > div a,
#portfolio .box > div h3 {
    border-bottom: 1px solid #444444;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 10%;
    width: 80%;
}
#portfolio .box > div a {
    color: #333333;
    font-size: 90%;
    text-decoration: none;
}
#portfolio .box > div a:hover {
    background: #ccc;
}
#portfolio .box > div h3 {
    font-size: 120%;
    padding: 0;
}
#portfolio > p {
    margin: 0 0 40px;
}
#portfolio .portfolio-asifrn {
    background-image: url(../images/portfolio-asifrn.png);
}
#portfolio .portfolio-esmarn {
    background-image: url(../images/portfolio-esmarn.png);
}
#portfolio .portfolio-flusser {
    background-image: url(../images/portfolio-flusser.png);
}
#portfolio .portfolio-foco-tgma {
    background-image: url(../images/portfolio-foco-tgma.png);
}
#portfolio .portfolio-hatha-contabilidade {
    background-image: url(../images/portfolio-hatha-contabilidade.png);
}
#portfolio .portfolio-ifb {
    background-image: url(../images/portfolio-ifb.png);
}
#portfolio .portfolio-lader {
    background-image: url(../images/portfolio-lader.png);
}
#portfolio .portfolio-niklason {
    background-image: url(../images/portfolio-niklason.png);
}
#portfolio .portfolio-soluti {
    background-image: url(../images/portfolio-soluti.png);
}

/* Repositories */
#repositories {
    background: #aaaaaa;
    background: rgba(170,170,170,1);
    background: -moz-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(187,187,187,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,170,170,1)), color-stop(100%, rgba(187,187,187,1)));
    background: -webkit-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(187,187,187,1) 100%);
    background: -o-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(187,187,187,1) 100%);
    background: -ms-linear-gradient(top, rgba(170,170,170,1) 0%, rgba(187,187,187,1) 100%);
    background: linear-gradient(to bottom, rgba(170,170,170,1) 0%, rgba(187,187,187,1) 100%);
    color: #333333;
    padding: 4% 10%;
}
#repositories .box > div div {
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 45px auto;
    overflow: hidden;
}
#repositories .box > div div p {
    clear: left;
    color: #555555;
    float: left;
    line-height: 20px;
    padding: 3px 0 8px 60px;
    text-align: justify;
}
#repositories h3 {
    float: left;
    line-height: 24px;
    padding: 0 0 0 60px;
}
#repositories > p {
    margin: 0 0 40px;
}
#repositories > p a {
    color: #222222;
}
#repositories > p a:hover {
    color: #666666;
}
#repositories > ul {
    width: 100%;
}
#repositories > ul > li {
    float: left;
    list-style: none;
    margin: 0 0 5%;
    position: relative;
    width: 100%;
}
#repositories .boxes {
    border-bottom: 1px solid #444444;
    overflow: hidden;
    margin: 10px 0 0 60px;
}
#repositories .boxes li {
    float: left;
    font-size: 90%;
    list-style: none;
    margin: 0;
    text-align: right;
    width: 100%;
}
#repositories .boxes li:hover {
    background: #cccccc;
}
#repositories .boxes li a {
    border-top: 1px solid #444444;
    color: #444444;
    display: block;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
}
#repositories .boxes li a:hover {
    color: #111111;
}
#repositories .preview-bluray-dvd-cd-book-collection div {
    background-image: url(../images/preview-bluray-dvd-cd-book-collection.png);
}
#repositories .preview-html-blank-template div {
    background-image: url(../images/preview-html-blank-template.png);
}
#repositories .preview-joomla-3-blank-template div {
    background-image: url(../images/preview-joomla-3-blank-template.png);
    background-position: 0 1px;
}

/* Media-queries */
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:landscape) {
    body {
        font-size: 120%;
    }
    #header {
        background: #555555;
    }
    #header > div div {
        margin: 4% 10% 0;
        width: 80%;
    }
    #header dt,
    #header dd {
        font-size: 105%;
    }
    #menu li a {
        font-size: 120%;
        height: 80px;
        line-height: 80px;
    }
    #repositories {
        padding: 4% 10% 12%;
    }
    .boxes > li {
        width: 100%;
    }
    .boxes > li.middle {
        margin: 0 0 5%;
    }
}
@media screen and (max-width: 1024px) {
    .boxes > li {
        width: 47.5%;
    }
    .boxes > li:nth-child(2n+1) {
        float: right;
    }
    .boxes > li.middle {
        margin: 0 0 5%;
    }
}
@media screen and (max-width: 800px) {
    #header {
        background: #555555;
    }
    #header > div div {
        margin: 4% 10% 0;
        width: 80%;
    }
    #header dt,
    #header dd {
        font-size: 105%;
    }
    #menu li a {
        font-size: 120%;
    }
    #repositories {
        padding: 4% 10% 12%;
    }
}
@media screen and (max-width: 600px) {
    .boxes > li {
        width: 100%;
    }
    .boxes > li.middle {
        margin: 0 0 5%;
    }
}