/* CSS Document - Developed by Fabio Rocha (https://fabiorochafg.github.io | fabiorochafg@gmail.com) */

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:200,400,600);

/* Base */
:root {
    --black: #222;
    --gray-900: #333;
    --gray-800: #444;
    --gray-700: #555;
    --gray-600: #666;
    --gray-200: #ddd;
    --gray-100: #eee;
    --white: #fff;
}
* {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,
a:active {
    color: var(--black);
    text-decoration: underline;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
a:hover {
    color: var(--gray-600);
    text-decoration: underline;
}
body {
    background-color: var(--black);
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
}
#wrapper {
    background-color: var(--white);
}
dt {
    clear: left;
    float: left;
}
h2 {
    color: var(--black);
    font-size: 2rem;
    line-height: 1em;
    padding-bottom: 2rem;
}
h3 {
    font-size: 1rem;
    font-weight: 200;
}
h4 {
    color: var(--gray-700);
    display: inline-block;
    font-size: 1.3rem;
    line-height: 1.2em;
    padding-bottom: 1rem;
}
ul {
    line-height: 1.5em;
}

/* Extra */
.bordered {
    background-color: var(--white);
    border: 5px solid var(--black);
    padding: 4rem;
}
.columns {
    column-count: 3;
    column-gap: 2rem;
}
.columns .column-item {
    break-inside: avoid;
    display: inline-block;
    padding-bottom: 2rem;
    width: 100%;
}
.container {
    display: block;
    margin: 0 4rem 2rem;
    position: relative;
    width: calc(100% - 8rem);
}
.description {
    font-size: 1.2rem;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    margin: 0 -1rem;
    width: calc(100% + 2rem);
}
.flex-container > .flex-item {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 1rem;
}
.links li {
    float: left;
    list-style: none;
    margin: 0 .5rem .5rem 0;
}
.links a {
    background-color: var(--black);
    border: 5px solid var(--black);
    color: var(--white);
    display: block;
    font-size: 90%;
    font-weight: 400;
    height: 36px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    width: 36px;
}
.links a:hover {
    background-color: var(--white);
}
.links a:hover .fa {
    color: var(--black);
}
.p-2 {
    padding: 2rem;
}
.tags li {
    float: left;
    font-size: 90%;
    line-height: 1em;
    list-style: none;
    margin: .5rem .75rem 0 0;
}

/* Header */
header.container {
    padding-top: 1rem;
    padding-bottom: 3rem;
}
header h1.bordered {
    display: block;
    float: left;
    margin-left: 4rem;
    padding: 0;
    position: relative;
    width: calc(7rem + 10px);
    z-index: 1;
}
header h1:before {
    background-color: var(--black);
    content: "";
    height: 1rem;
    position: absolute;
    top: calc(-1rem + -5px);
    left: calc(50% - 2px);
    width: 5px;
}
header h1 a.logo {
    background-color: var(--black);
    color: var(--white);
    display: block;
    font-size: 4rem;
    height: 7rem;
    letter-spacing: -2px;
    line-height: 7rem;
    text-align: center;
    text-decoration: none;
    width: 7rem;
}
header h1 a:hover {
    background-color: var(--white);
    color: var(--black);
}
header .links {
    float: right;
}
header .links li {
    margin: 1rem 0 0 .5rem;
}
header .contacts a {
    background-color: var(--black);
    border: 5px solid var(--black);
    display: block;
}
header .contacts a:hover {
    background-color: var(--white);
}
header .contacts .fa {
    color: var(--white);
    font-size: 1.2rem;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
header .contacts a:hover .fa {
    color: var(--black);
}

/* Intro */
#intro .featured {
    padding: 6rem 4rem;
}
#intro .featured p { 
    font-size: 2.6rem;
    line-height: 1.2em;
    padding-left: 45%;
    text-align: right;
}
#intro .featured p strong { 
    white-space: nowrap;
}
#intro .featured .portfolio-info {
    font-size: 1.1rem;
    padding-top: 2rem;
}

/* About */
#about::after {
    background-color: var(--black);
    content: "";
    height: 2rem;
    position: absolute;
    bottom: -2rem;
    left: 8rem;
    width: 5px;
}
#about .bio {
    background-color: var(--black);
    color: var(--white);
    flex-grow: 2;
    margin-top: -18rem;
}
#about .bio h2,
#about .bio p a {
    color: var(--white);
}
#about .bio p {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}
#about .bio p:nth-child(3) {
    font-size: 1.4rem;
}
#about .bio p:nth-child(4) {
    font-size: 1.2rem;
}
#about .services li {
    background: var(--black);
    color: var(--white);
    float: left;
    font-size: 1rem;
    line-height: 1.1em;
    list-style: none;
    margin: 0 .5rem .5rem 0;
    padding: .75rem 1rem;
}
#about .percent dt,
#about .percent dd {
    height: 30px;
    line-height: 30px;
    margin-bottom: .5rem;
}
#about .percent dt {
    background: var(--black);
    color: var(--white);
    font-size: .8rem;
    text-align: center;
    width: 36%;
}
#about .percent dd {
    background-color: var(--gray-600);
    color: var(--white);
    float: left;
    font-weight: 600;
    padding: 0 .5rem;
    text-align: right;
    text-shadow: 1px 1px 1px var(--black);
}
#about .percent dd:hover {
    background: var(--gray-800);
}
#about .percent30 {
    width: 12.2%;
}
#about .percent40 {
    width: 19.6%;
}
#about .percent50 {
    width: 27%;
}
#about .percent60 {
    width: 36.4%;
}
#about .percent70 {
    width: 41.8%;
}
#about .percent80 {
    width: 49.2%;
}
#about .percent90 {
    width: 56.6%;
}
#about .percent100 {
    width: 64%;
}
.hint--right:after {
    margin-bottom: -20px !important;
}
.hint:after, [data-hint]:after {
    font-size: 90% !important;
    padding: 14px 10px !important;
}

/* Portfolio */
#portfolio .column-item {
    margin-top: 2rem;
    padding: 2rem;
    position: relative;
}
#portfolio .column-item::before {
    background-color: var(--black);
    content: "";
    height: 2rem;
    position: absolute;
    top: calc(-2rem - 5px);
    left: 2rem;
    width: 5px;
}
#portfolio .column-item img {
    box-shadow: 0 0 10px 2px rgb(0 0 0 / 10%);
    margin-top: 1rem;
    width: 100%;
}

/* Footer */
footer.container {
    border-top: 5px solid var(--black);
    margin-top: 8rem;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer p {
    font-size: .9rem;
    font-weight: 200;
    padding: 1rem 0;
    text-align: center;
}


/* Media-queries */
@media screen and (min-width: 801px) {
    #about .flex-container > .flex-item {
        flex-basis: 375px;
    }
}
@media screen and (min-width: 1600px) {
    .columns {
        column-count: 4;
    }
}
@media screen and (max-width: 1304px) {
    #intro .featured p {
        padding-left: 0;
    }
    #about::after {
        display: none;
    }
    #about .bio {
        margin-top: -6rem;
    }
}
@media screen and (max-width: 1024px) {
    #portfolio .columns a {
        height: 30px;
        line-height: 20px;
        width: 30px;
    }
    .columns {
        column-count: 2;
    }
}
@media screen and (max-width: 800px) {
    .bordered {
        padding: 2rem;
    }
    .columns {
        column-count: 1;
    }
    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        width: calc(100% - 3rem);
    }
    header h1.bordered {
        margin-left: 2rem;
    }
    header .links {
        float: left;
        margin-left: 2rem;
        position: relative;
        z-index: 1;
    }
    header .links li {
        margin: 1rem .5rem 0 0;
    }
    #intro .featured {
        padding-left: 0;
        padding-right: 0;
    }
    #intro .featured p {
        text-align: left;
    }
    #about .bio p {
        font-size: 1.2rem;
    }
    #about .flex-container {
        margin: 0;
        width: 100%;
    }
    #about .flex-container > .flex-item {
        margin-left: 0;
        margin-right: 0;
    }
    #about .flex-item.p-2 {
        padding-left: 0;
        padding-right: 0;
    }
    #about .percent [data-hint]:after {
        display: none;
    }
    footer.container {
        margin-top: 4rem;
    }
}
